.ak-topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 92px;
  box-shadow: 0 3px 99px rgba(0, 0, 0, 0.25);
  justify-content: flex-end;
  align-items: center;

  &__bg--blur {
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.75);
  }

  &__toolbar {
    width: calc(100% - 2rem);
    height: 92px;
    justify-content: space-between;
    padding: {
      left: 1rem;
      right: 1rem;
    }
    z-index: 1;

    &__section0,
    &__section1 {
      align-items: center;
    }
  }

  &--anim-init {
    width: calc(100% - 112px);
  }

  &--anim-final {
    width: calc(100% - 224px);
  }

  &--anim-start {
    animation: shrinkTopbarAnimation 100ms ease-in-out;
    width: calc(100% - 224px);
  }

  &--anim-end {
    animation: shrinkTopbarAnimation 100ms ease-in-out reverse;
    width: calc(100% - 112px);
  }
}

@keyframes shrinkTopbarAnimation {
  0% {
    width: calc(100% - 112px);
  }

  100% {
    width: calc(100% - 224px);
  }
}
